p {
	margin: $paragraph_margin;
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $basefont;
	font-weight: $headings_font_weight;
	// color: $headings_color;
	margin: $headings_margin;
	text-transform: $headings_text_transform;
	line-height: 1.2;

	@media (max-width: 959px) {
		margin: 24px 0 16px;
	}
}

h1, .h1 {
	@include fz($h1);
	margin-top: 0;
	line-height: 1;

	@media (min-width: 1440px) {
		@include fz(60);
	}

	@media (max-width: 1259px) {
		@include fz(54);
	}

	@media (max-width: 1259px) {
		@include fz(46);
	}

	@media (max-width: 959px) {
		@include fz(42);
		line-height: 1.1;
	}

	@media (max-width: 599px) {
		@include fz(36);
		line-height: 1.14;
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(40);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(32);
	}

	@media (max-width: 599px) {
		@include fz(26);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);
}
h5, .h5 {
	@include fz($h5);
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}


a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}

.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
/*---- ICONS ---- */

::selection {
	background: $bgc;
	color: #FFF;
}
::-moz-selection {
	background: $bgc;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		width: 4px;
		height: 4px;
		background-color: $bgc;
	}
	::-webkit-scrollbar-thumb {
		width: 4px;
		height: 4px;
		background-color: #fff;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($bgc, 8%);
	}
}


.ui-btn {	
	display: inline-block;
	vertical-align: middle;
	height: 71px;
	line-height: 71px;
	max-width: 100%;
	position: relative;
	border: none;
	border-radius: 10px;
	padding: 0px 60px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	background: #FFF;
	color: #23372B;
	text-align: center;
	@include fz(22);
	letter-spacing: 1.6px; 
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
	transition: box-shadow .2s, transform .2s;
	box-shadow: 14px 14px 0px #5E6738;	
	&.ui-btn-colored {
		color: $font;
		background-color: #C74403;		
		box-shadow: 0px 0px 0px 0px rgba(20, 31, 24, 0.05), 4px 2px 10px 0px rgba(20, 31, 24, 0.05), 16px 9px 18px 0px rgba(20, 31, 24, 0.04), 36px 19px 24px 0px rgba(20, 31, 24, 0.03), 64px 34px 29px 0px rgba(20, 31, 24, 0.01), 99px 54px 32px 0px rgba(20, 31, 24, 0.00), 14px 14px 0px 0px #DECA99;	
		
		@media (max-width: 1680px) {
			box-shadow: 0px 0px 0px 0px rgba(20, 31, 24, 0.05), 4px 2px 10px 0px rgba(20, 31, 24, 0.05), 16px 9px 18px 0px rgba(20, 31, 24, 0.04), 36px 19px 24px 0px rgba(20, 31, 24, 0.03), 64px 34px 29px 0px rgba(20, 31, 24, 0.01), 99px 54px 32px 0px rgba(20, 31, 24, 0.00), 10px 10px 0px 0px #DECA99;	
		}
		@media (max-width: 1140px) {
			box-shadow: 0px 0px 0px 0px rgba(20, 31, 24, 0.05), 4px 2px 10px 0px rgba(20, 31, 24, 0.05), 16px 9px 18px 0px rgba(20, 31, 24, 0.04), 36px 19px 24px 0px rgba(20, 31, 24, 0.03), 64px 34px 29px 0px rgba(20, 31, 24, 0.01), 99px 54px 32px 0px rgba(20, 31, 24, 0.00), 7px 7px 0px 0px #DECA99;	
		}	
	}
	&.ui-btn-dark {
		color: $font;
		background-color: #23372B;	
		box-shadow: 14px 14px 0px 0px #5E6738;
		text-overflow: ellipsis;
		@media (max-width: 1680px) {
			box-shadow: 10px 10px 0px 0px #5E6738;
		}
		@media (max-width: 1140px) {
			box-shadow: 7px 7px 0px 0px #5E6738;
		}
	}
	@media (max-width: 768px) {
		box-shadow: 10px 10px 0px #5E6738;	
	}

	svg {		
		transform: translate(0, 20%);
		margin-right: 8px;
		@media (max-width: 1680px) {
			width: 20px;
			height: 20px;
		}
		@media (max-width: 1140px) {
			width: 16px;
			height: 16px;
		}
		// @media (max-width: 768px) {
		// 	width: 20px;
		// 	height: 20px;
		// 	margin-right: 5px;
		// }
		@media (max-width: 599px) {
			width: 20px;
			height: 20px;			
		}
	}

	&:hover {
		box-shadow: none;	
	}
	// &:active {		
	// 	transform: translate(0px, 2px);
	// }

	@media (max-width: 1680px) {
		@include fz(18);
		height: 60px;
		line-height: 60px;
		padding: 0px 46px;
		box-shadow: 10px 10px 0px #5E6738;	
	}

	// @media (max-width: 1280px) {
	// 	@include fz(14);
	// 	height: 46px;
	// 	line-height: 46px;
	// 	padding: 0px 30px;
	// }

	@media (max-width: 1140px) {
		@include fz(12);
		height: 42px;
		line-height: 42px;
		padding: 0px 28px;
		box-shadow: 7px 7px 0px #5E6738;	
	}

	
	@media (max-width: 599px) {
		@include fz(20);
		height: 64px;
		line-height: 60px;
		padding: 0px 60px;		
	}
	@media (max-width: 420px) {
		@include fz(14);
		height: 44px;
		line-height: 44px;
		padding: 0px 44px;		
	}
}

.pagination-pages {
	display: flex;
	align-items: center;
    gap: 8px;
	@media (max-width: 1680px) {
		gap: 6px;
	}
	@media (max-width: 768px) {
		align-items: flex-end;;
	}
}

.pagination-btn {	
	display: block;
	text-align: center;
	line-height: 61px;
	width: 61px;
	height: 61px;		
	border-radius: 10px;
	border: 1px solid #607367;	
	background-color: transparent;
	color: $font;
	@include fz(20);
	font-weight: 700;
	cursor: pointer;
	@media (max-width: 1680px) {
		width: 50px;
		height: 50px;
		@include fz(16);
		line-height: 50px;
	}
	@media (max-width: 1140px) {
		width: 42px;
		height: 42px;
		@include fz(14);
		line-height: 42px;
	}
	&.active {
		border: 2px solid #FFF8D9;
	}
}

.pagination-dots {
	width: 61px;
	height: 61px;
	color: #607367;
	@include fz(20);
	font-weight: 700;
	text-align: center;
	line-height: 61px;	
	@media (max-width: 1680px) {
		width: 50px;
		height: 50px;
		@include fz(16);
		line-height: 50px;
	}
	@media (max-width: 1140px) {
		width: 42px;
		height: 42px;
		@include fz(14);
		line-height: 42px;
	}
}

.pagination__arrows {
	display: flex;
	align-items: center;
	a + a {
		margin-left: 10px;
	}
}

.arrow-btn {
	width: 61px;
	height: 61px;
	border-radius: 10px; 
	background: $primary;
	border: unset;
	cursor: pointer;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	@media (max-width: 1680px) {
		width: 50px;
		height: 50px;
		background-size: 28px 28px;
	}
	@media (max-width: 1140px) {
		width: 42px;
		height: 42px;
		background-size: 22px 22px;
	}
  
	&.prew {
	  background-image: url(../images/ArrowLeft.svg);	
	}
	&.next {
	  background-image: url(../images/ArrowRight.svg);	
	}
	&.disabled {
		opacity: 0.5;
	}
}

.ui-field {
	position: relative;
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	// @media (max-width: 992px) {
	// 	margin-bottom: 16px;
	// }
	label.error {
		position: absolute;
		color: $error;
		background-color: #fff;
		left: 24px;
		top: -14px;
		padding: 2px 4px;
		@media (max-width: 1366px) {
			@include fz(14);
			top: -11px;
			left: 26px;
			padding: 2px 2px;
		}
		@media (max-width: 992px) {
			@include fz(13);
			top: -11px;
			left: 18px;
			padding: 2px 2px;
		}
		@media (max-width: 768px) {
			@include fz(14);			
			left: 26px;		
		}
		@media (max-width: 480px) {
			@include fz(9);
			top: -8px;
			left: 19px;			
		}
	}
	.ui-input {
		color: $bgc;
		@include fz(18);      
		font-family: $inter;
		font-weight: 500;
		padding: 22px 30px;
		width: 100%;
		border-radius: 10px;
		border: 1px solid rgba(94, 103, 56, 0.50);
		outline: none;    
      &.error {
        margin-bottom: 0px;
      }  

    //   @media (max-width: 1366px) {
    //     @include fz(14); 
    //     padding: 18px 26px;
    //   }
      @media (max-width: 1024px) {
        @include fz(15); 
        padding: 16px 20px;
      }
    //   @media (max-width: 992px) {
    //     @include fz(12); 
    //     padding: 12px 20px;
    //     // margin-bottom: 10px;
    //   }
    //   @media (max-width: 768px) {
    //     @include fz(18); 
    //     padding: 18px 26px;
    //   }
    //   @media (max-width: 480px) {
    //     @include fz(12); 
    //     padding: 12px 20px;
    //   }
      &::placeholder {
        color: $bgc;
      }
      &.error {
        border-color: $error;
      }
	}

	.ui-textarea {
		color: $bgc;
      @include fz(18);      
      font-family: $inter;
      font-weight: 500;
      padding: 30px;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      border: 1px solid rgba(94, 103, 56, 0.50);
      resize: none;
      outline: none;   
      @media (max-width: 1366px) {
        @include fz(14); 
        padding: 18px 26px;
      }   
      @media (max-width: 1024px) {
        @include fz(12); 
        padding: 12px 20px;
      }
      @media (max-width: 992px) {
        @include fz(12); 
        padding: 12px 20px;
      }
      @media (max-width: 768px) {
        @include fz(18); 
        padding: 18px 26px;
        // min-height: 90px;
      }
      @media (max-width: 480px) {
        @include fz(12); 
        padding: 12px 20px;
        // min-height: 80px;
      }
      &::placeholder {
        color: $bgc;
      }
      &.error {
        border-color: $error;
      }
	}
}